.main-container {
  width: 300px;
}
.container {
  padding-left: 18px;
}
.img1 {
  position: relative;
  width: 300px;
  height: 300px;
}
.labelButton {
  position: absolute;
  border: 2px solid #fff;
  margin-left: -209px;
  margin-top: 131px;
  background-color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 15px;
}
.main-container img:hover .img1 {
  opacity: 0.8;
}
