.main-container {
  width: 100%;
  height: 240px;
}
.main-container img {
  width: 100%;
  height: 100%;
}
.img1 {
  position: relative;
}
.labelButton {
  position: absolute;
  border: 2px solid #fff;
  margin-left: -200px;
  margin-top: 103px;
  background-color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 15px;
}
.main-container img:hover .img1 {
  opacity: 0.8;
}
