.header-title {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.message-header {
  margin-bottom: 45px;
  margin-left: 20px;
  margin-right: 20x;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Selection {
  padding: 10px;
}
/* .Select {
  float: right;
} */
.search {
  overflow-y: scroll;
}
.filter {
  display: flex;
  justify-content: space-between;
}
/* .product {
  width: 253px;
  height: 253px ;
} */
.container1 {
  width: 83%;
}
.search {
  width: 17%;
}
.main_content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.option {
  margin-left: 15px;
}
